.links {
  display: inline-block;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #e5e7eb;
}

.header {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo-text {
  font-size: 24px;
  color: #f9faf8;
}

.footer {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #e5e7eb;
}

.introduction {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.heading {
  font-size: 48px;
  color: #f9faf8;
}

.text {
  font-size: 18px;
  color: #e5e7eb;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.quote-text {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  width: 70%;
}

.quote-name {
  font-size: 24px;
  font-style: bold;
}

.info-header {
  font-size: 36px;
  font-style: bold;
  color: #1f2937;
  align-items: center;
  justify-content: center;
  display: flex;
}

.about {
  background-color: white;
}

.imgs {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
